* {
    padding: 0;
    margin: 0;
}

.main {
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ob-cover {
    top: 0;
}

.ob-cover img {
    width: 100%;
    height: auto;
    size: 50% !important; /* Override the default set by tailwind */
}
.nav-bar {
    background-color: #77a8fd;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
.nav-bar ul li {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-bar ul li a {
    color: #fff;
    display: flex;
    text-decoration: none;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: left;
    font-size: 24px
}
.item {
    --color:  #eb904b;
    width: 285px;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: #3c40434d 0 1px 2px 0,
                #3c404346 0 1px 3px 1px;
    background-color: var(--color);
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: grid;
}
.item::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;
    height: 80%;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent var(--color);
    border-width: 40px  40px 40px 40px;
    filter: drop-shadow(5px 0 4px #00000094);
    transition: filter 0.5s;
}
.item:nth-child(2) {
    --color: #813085;
}
.item:nth-child(3) {
    --color:#119630;
}
.item:nth-child(3) {
    --color:#15dbc1;
}
.item:nth-child(3) {
    --color:#1568d4;
}
.layer {
    background-color: #f2f2f2;
    border: 1px solid #fff;
    border-radius: inherit;
    box-shadow: #00000012 0 1px 2px,
                 #00000012 0 2px 4px, 
                 #00000012 0 4px 8px,
                 #00000012 0 8px 16px,
                 #00000012 0 16px 32px
                 #00000012 0 32px 64px;
    position: relative;
    left: 10px;
}
.item:hover:after {
    filter: drop-shadow(5px 0 4px #0000001a);
}
.item:hover .layer {
    left: 50px;
    transition: .5s ease-in-out;

}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.footer {
    background-color:mediumslateblue;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}